@import "styles/color";
@import "styles/font";

html {
  height: 100%;
}

body {
  background-color: $gray !important;
  font-size: 14px !important;
  font-family: 'Roboto', 'メイリオ', 'Meiryo' !important;
  height: 100%;

  #root, .app-container {
    height: 100%;

    .navbar-outer {
      margin-bottom: 1rem;
    }

    .page-content {
      padding-bottom: 1rem;
    }
  }
}

.btn {
  font-size: $font-size-primary !important;
}

.btn-edge {
  padding: .5rem 1.5rem !important;
  border-radius: 50px !important;
}

.show-more {
  padding: 0;
  background-color: transparent;

  &:hover {
    color: $blue;
  }

  &:focus {
    box-shadow: none !important;
  }

  * {
    vertical-align: middle;
  }

  img {
    height: 30px;
  }

  span {
    padding-left: 6px;
  }
}

#wrapper {
  > * {
    @media (max-width: 575px) {
      padding: 0;
    }
  }
}


// jQuery UI

.ui-slider {
  border: 1px solid #d3d3d3 !important;
  background-color: #DDE5F0 !important;

  .ui-slider-handle,
  .ui-slider-hover,
  .ui-slider-focus {
    box-shadow: none !important;
    background-color: $white !important;
    border-radius: 50% !important;
    border: 1px solid #d3d3d3 !important;
    outline: 0;
  }

  .ui-slider-range {
    background-color: $blue;
  }
}
