@charset "UTF-8";
html {
  height: 100%; }

body {
  background-color: #e6ecf0 !important;
  font-size: 14px !important;
  font-family: 'Roboto', 'メイリオ', 'Meiryo' !important;
  height: 100%; }
  body #root, body .app-container {
    height: 100%; }
    body #root .navbar-outer, body .app-container .navbar-outer {
      margin-bottom: 1rem; }
    body #root .page-content, body .app-container .page-content {
      padding-bottom: 1rem; }

.btn {
  font-size: 14px !important; }

.btn-edge {
  padding: .5rem 1.5rem !important;
  border-radius: 50px !important; }

.show-more {
  padding: 0;
  background-color: transparent; }
  .show-more:hover {
    color: #007bff; }
  .show-more:focus {
    box-shadow: none !important; }
  .show-more * {
    vertical-align: middle; }
  .show-more img {
    height: 30px; }
  .show-more span {
    padding-left: 6px; }

@media (max-width: 575px) {
  #wrapper > * {
    padding: 0; } }

.ui-slider {
  border: 1px solid #d3d3d3 !important;
  background-color: #DDE5F0 !important; }
  .ui-slider .ui-slider-handle,
  .ui-slider .ui-slider-hover,
  .ui-slider .ui-slider-focus {
    box-shadow: none !important;
    background-color: #fff !important;
    border-radius: 50% !important;
    border: 1px solid #d3d3d3 !important;
    outline: 0; }
  .ui-slider .ui-slider-range {
    background-color: #007bff; }
