@charset "UTF-8";
:focus {
  outline: none;
  box-shadow: none; }

html {
  height: 100%; }

body {
  background-color: #e6ecf0;
  font-size: 14px;
  font-family: 'Roboto', 'Noto Sans CJK Regular', 'メイリオ', 'Meiryo';
  height: 100%; }
  body #root, body .app-container {
    height: 100%; }
    body #root .navbar-outer, body .app-container .navbar-outer {
      margin-bottom: 1rem; }
    body #root .page-content, body .app-container .page-content {
      padding-bottom: 1rem; }

.btn-edge {
  padding: .5rem 1.5rem;
  border-radius: 50px; }

.show-more {
  padding: 0;
  background-color: transparent; }
  .show-more:hover {
    color: #007bff; }
  .show-more:focus {
    box-shadow: none !important; }
  .show-more * {
    vertical-align: middle; }
  .show-more img {
    height: 30px; }
  .show-more span {
    padding-left: 6px; }

@media (max-width: 575px) {
  #wrapper > * {
    padding: 0; } }

.btn {
  font-size: 14px;
  box-shadow: none !important;
  border-radius: 50px;
  padding: 6px 18px; }

.form-control {
  font-size: 14px; }
  .form-control:focus {
    box-shadow: none; }
