@import "styles/variables";
@import "styles/font";

:focus {
  outline: none;
  box-shadow: none;
}

html {
  height: 100%;
}

body {
  background-color: $gray;
  font-size: 14px;
  font-family: 'Roboto', 'メイリオ', 'Meiryo';
  height: 100%;

  #root, .app-container {
    height: 100%;

    .navbar-outer {
      margin-bottom: 1rem;
    }

    .page-content {
      padding-bottom: 1rem;
    }
  }
}

.btn-edge {
  padding: .5rem 1.5rem;
  border-radius: 50px;
}

.show-more {
  padding: 0;
  background-color: transparent;

  &:hover {
    color: $blue;
  }

  &:focus {
    box-shadow: none !important;
  }

  * {
    vertical-align: middle;
  }

  img {
    height: 30px;
  }

  span {
    padding-left: 6px;
  }
}

#wrapper {
  > * {
    @media (max-width: 575px) {
      padding: 0;
    }
  }
}



// Override Libs
//
//
// Bootstrap
.btn {
  font-size: $font-size-primary;
  box-shadow: none !important;
  border-radius: 50px;
  padding: $space-2 $space-5;
}

.form-control {
  font-size: $font-size-primary;

  &:focus {
    box-shadow: none;
  }
}
