.filterable-list_header {
  margin-bottom: 2rem; }
  .filterable-list_header form {
    display: flex; }
  .filterable-list_header .form-control {
    border: 0;
    border-radius: 4px 0 0 4px;
    padding: .75rem 1rem;
    line-height: 1.5;
    font-size: 14px; }
    .filterable-list_header .form-control:focus {
      box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.25); }
  .filterable-list_header .btn {
    border-radius: 0 4px 4px 0;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 14px; }
    .filterable-list_header .btn:focus {
      box-shadow: none; }

.filterable-list_sidebar .group {
  margin-bottom: 1rem; }
  .filterable-list_sidebar .group .group-header {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem; }

.filterable-list_sidebar .group-item {
  margin-top: 1rem; }
  .filterable-list_sidebar .group-item strong {
    font-size: 14px; }

.filterable-list_sidebar .select-group {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .filterable-list_sidebar .select-group * {
    margin: 0 !important; }
  .filterable-list_sidebar .select-group strong {
    flex: 0 0 auto; }
  .filterable-list_sidebar .select-group .form-control {
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    border-radius: 0;
    padding: 0 1rem .25rem 0;
    height: auto !important;
    width: auto !important; }
    .filterable-list_sidebar .select-group .form-control:focus {
      border-color: #007bff;
      box-shadow: 0 1px 0 0 #007bff; }

.filterable-list_sidebar .star-group .current-selections {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .filterable-list_sidebar .star-group .current-selections span {
    background-color: #fff;
    padding: 4px 1rem;
    border: 1px solid #ccc; }
  .filterable-list_sidebar .star-group .current-selections i {
    padding: 0 .5rem; }

.filterable-list_sidebar .star-group .limit {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between; }

.filterable-list_sidebar .form-control {
  margin-top: 1rem;
  font-size: 14px; }
  .filterable-list_sidebar .form-control:focus {
    box-shadow: none; }

.filterable-list_sidebar .custom-checkbox {
  margin-top: .5rem; }
  .filterable-list_sidebar .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important; }
  .filterable-list_sidebar .custom-checkbox .custom-control-label::before,
  .filterable-list_sidebar .custom-checkbox .custom-control-label::after {
    top: 2px !important; }
