.filterable-list_header {
  margin-bottom: 2rem;

  form {
    display: flex;
  }

  .form-control {
    border: 0;
    border-radius: 4px 0 0 4px;
    padding: .75rem 1rem;
    line-height: 1.5;

    &:focus {
      box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.25);
    }
  }

  .btn {
    border-radius: 0 4px 4px 0;
    padding-left: 2rem;
    padding-right: 2rem;

    &:focus {
      box-shadow: none;
    }
  }
}

.filterable-list_sidebar {

}
