.custom-checkbox {
  padding-left: 21px;
  min-height: 0; }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none; }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #007bff; }
  .custom-checkbox .custom-control-label::before {
    border-radius: 3px;
    top: 3px;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    background-color: #e6ecf0; }
  .custom-checkbox .custom-control-label::after {
    top: 3px;
    height: 15px;
    width: 15px; }

.checkbox-group .custom-checkbox {
  margin-top: 9px;
  margin-bottom: 9px; }
