@import "styles/variables";

.custom-checkbox {
  padding-left: 15px + $space-2;
  min-height: 0;

  .custom-control-input {
    &:focus ~ .custom-control-label::before {
      box-shadow: none;
    }

    &:checked ~ .custom-control-label::before {
      border-color: $blue;
    }
  }

  .custom-control-label {
    &::before {
      border-radius: 3px;
      top: (14px * 1.5 - 15px) / 2; // $space-1
      height: 15px;
      width: 15px;
      border: 1px solid #ccc;
      background-color: $gray;
    }

    &::after {
      top: (14px * 1.5 - 15px) / 2; // $space-1
      height: 15px;
      width: 15px;
    }
  }
}

.checkbox-group {
  .custom-checkbox {
    margin-top: $space-3;
    margin-bottom: $space-3;
  }
}
