@import "styles/variables";

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  * {
    margin: 0 !important;
  }

  strong {
    flex: 0 0 auto;
  }

  .form-control {
    border: 0;
    border-bottom: 1px solid $border-in-gray;
    background-color: transparent;
    border-radius: 0;
    padding: $space-1 16px $space-1 0;
    height: auto !important;
    width: auto !important;

    &:focus {
      border-color: $blue;
      box-shadow: 0 1px 0 0 $blue;
    }
  }
}
