.slider-container .current-values {
  display: flex;
  align-items: center;
  margin-bottom: 12px; }
  .slider-container .current-values .value {
    background-color: #fff;
    padding: 6px 12px;
    border: 1px solid #ccc;
    line-height: 1; }
  .slider-container .current-values .divider {
    padding: 0 12px; }

.slider-container .ui-slider {
  border: 1px solid #ccc;
  background-color: transparent; }
  .slider-container .ui-slider .ui-slider-handle,
  .slider-container .ui-slider .ui-slider-hover,
  .slider-container .ui-slider .ui-slider-focus {
    box-shadow: none;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #d3d3d3;
    outline: 0; }
  .slider-container .ui-slider .ui-slider-range {
    background-color: #007bff; }

.slider-container .limits {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  line-height: 1; }
