$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@mixin responsive($media) {
  @media (min-width: map-get($grid-breakpoints, $media)) {
    @content;
  }
}

.girl-item {
  display: flex;
  background-color: #fff;
  padding: 1rem .5rem;
  position: relative;
  transition: background-color .2s ease;
  cursor: pointer;

  .item-col {
    padding: 0 .5rem;
  }

  .row {
    margin: 0;
    width: 100%;
  }

  .girl-basic-info,
  .girl-stats-group {
    display: flex;
  }

  .girl-basic-info {
    padding: 0;
    flex-wrap: wrap;
  }

  .girl-img {
    width: 75px;

    @include responsive(sm) {
      width: 100px;
    }
  }

  .girl-stats-group {
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
  }

  .girl-stats-item {
    text-align: center;
    font-size: 0.85rem;
    width: 60px;
    padding: 5px 4px;

    .total-stats {
      margin-bottom: 4px;
    }
  }

  .girl-stats {
    width: calc(100% - 75px);

    @include responsive(sm) {
      width: calc(100% - 100px);
    }

    // @include responsive(lg) {
    //   width: calc(60% - 100px);
    // }
    //
    // @include responsive(xl) {
    //   width: calc(50% - 100px);
    // }
  }

  .girl-active-skill {
    width: 100%;

    // @include responsive(lg) {
    //   width: 40%;
    // }
    //
    // @include responsive(xl) {
    //   width: 50%;
    // }
  }

  .girl-passive-skills .passive-skill {
    padding-bottom: .5rem;
  }
}

.girl-item {
  &:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    height: 1px;
    background-color: #ddd;
  }

  &:hover {
    background-color: #E1F5FE;
  }
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.tag {
  color: #fff;
  text-align: center;
  padding: 5px 0;
  background-color: violet;

  &.bg-pink { background-color: #E91E63; }
  &.bg-yellow { background-color: #FF9800; }
  &.bg-red { background-color: #F44336; }
  &.bg-blue { background-color: #2196F3; }
  &.bg-green { background-color: #4CAF50; }
}
