footer {
  position: relative;
  background-color: #fff;
  padding: 1.5rem 0 2rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: #ddd;
  }

  .app-name {
    text-align: center;
    margin-bottom: 1rem;
  }

  .app-credits {
    text-align: center;
  }
}
