@import "styles/color";
@import "styles/responsive";

.box {
  padding: 1rem;
  border: 1px solid $gray;

  &.has-items {
    padding: 0;
  }

  .box-item {
    background-color: $white;
    padding: 1rem;

    @include responsive(sm) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }

    &.box-item-action {
      transition: background-color 0.15s ease;

      &:hover {
        background-color: $gray--dark;
      }
    }
  }
}
