.grid-wrapper-fix {
  margin-bottom: -1rem;
}

.icon-group {
  display: inline-flex;
  // border: 1px solid #ddd;

  .icon-item {
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #555;
    background-color: #fff;
    transition: all 0.15s ease;
    &:not(:first-child) {
      border-left-color: transparent;
    }


    &.active,
    &:hover {
      border-color: #2196F3;
      color: #2196F3;
    }
  }
}
