.fade-enter,
.fade-appear {
  opacity: 0.01;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  display: none;
}

// .fade-exit.fade-exit-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }
