.add-character-stats-group {
  display: flex;

  .original-stats {
    width: 46%;
  }

  .plus {
    width: 8%;
    text-align: center;
    padding-top: 10px;
  }

  .bonus-stats {
    width: 46%;
  }
}
