@import "styles/variables";

.footer-outer {
  border-top: 1px solid rgba(0,0,0,0.1);

}

footer {
  // border-top: 1px solid rgba(0,0,0,0.05);
  background-color: $white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
