.app-container {
  position: relative;
  height: 100%;
  overflow: hidden; }
  .app-container #nav-bottom-root {
    display: none; }
  .app-container .page-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; }
    .app-container .page-container::-webkit-scrollbar {
      width: 0; }
    .app-container .page-container::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .app-container .page-container::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey; }
    @media (min-width: 576px) {
      .app-container .page-container::-webkit-scrollbar {
        width: 6px; } }
  .app-container.has-nav-bottom {
    padding-bottom: 45px; }
    .app-container.has-nav-bottom #nav-bottom-root {
      display: block; }
    @media (min-width: 992px) {
      .app-container.has-nav-bottom {
        padding-bottom: 0; }
        .app-container.has-nav-bottom #nav-bottom-root {
          display: none; } }
