@import "styles/variables";
@import "styles/responsive";

.app-container {
  position: relative;
  height: 100%;
  overflow: hidden;

  #nav-bottom-root {
    display: none;
    // position: absolute;
  }

  .page-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    @include responsive(sm) {
      &::-webkit-scrollbar {
        width: 6px;
      }
    }
  }

  &.has-nav-bottom {
    padding-bottom: 45px;

    #nav-bottom-root {
      display: block;
    }

    @include responsive(lg) {
      padding-bottom: 0;

      #nav-bottom-root {
        display: none;
      }
    }
  }
}
