@import 'styles/color';

.fkg-item {
  display: flex;
}

.fkg-item_main-info-col {
  display: flex;
  flex: 45% 0 0;

  .fkg-item_img-col {
    flex: 75px 0 0;
  }

  .fkg-item_info-col {
    padding: 0 24px 0 12px;
    flex: calc(100% - 75px) 0 0;
  }
}

.fkg-item_skills-col {
  flex: 55% 0 0;
  .fkg-item_panels {
    display: none;

    &.active {
      display: block;
    }
  }
}

.fkg-item_total-stats {
  margin-top: 8px;
  background-image: $total-stats;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 4px 0;
  font-weight: bold;
}

.fkg-item_info-header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  .fkg-item_attribute {
    width: 30px;
  }

  .fkg-item_name {
    padding-left: 6px;
  }
}

.fkg-item_stats-group {
  margin-bottom: -8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.fkg-item_stat {
  flex: 50% 0 0;
  padding-bottom: 8px;

  span {
    width: 100px;
    text-align: center;
    display: block;
    margin-bottom: 4px;
    line-height: 1.5;
  }

  div {
    width: 100px;
    text-align: center;
    padding: 4px 0;
    color: $white;
  }
}

.fkg-item_hp div {
  background-image: $hp;
}

.fkg-item_attack div {
  background-image: $attack;
}

.fkg-item_defense div {
  background-image: $defense;
}

.fkg-item_speed div {
  background-image: $speed;
}

.fkg-item_attack,
.fkg-item_speed {
  * { margin-left: auto; }
}

.fkg-item_skill-header {
  display: flex;
  align-items: flex-start;

  .fkg-item_panel-toggler {
    width: 40px;
  }

  .fkg-item_panel-title {
    padding-left: 10px;
    border-bottom: 2px solid #928282;
    flex-grow: 1;
    line-height: 1.5;
    padding-bottom: 3px;
  }
}

.fkg-item_skill-content {
  padding: 1rem;
  border: 1px solid #ddd;
  margin-top: 8px;

  .fkg-item_skills-panel {
    overflow-y: auto;
    max-height: 105px;
    padding-right: 8px;

    div {
      line-height: 1.5;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }
}

.fkg-item-ability {
  white-space: pre-wrap;
}
