$height: 40px;

.navbar {
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  padding-right: 0;
}

.bg-light {
  background-color: #fff !important;
}

.navbar-brand {
  display: flex;

  .app-logo {
    width: $height;
    height: $height;
  }

  .app-name {
    padding-left: .5rem;
    height: $height;
    line-height: $height;
    font-size: 1rem;
    font-weight: bold;
  }
}

.navbar-nav {
  .nav-item .nav-link {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    font-size: .95rem;
  }

  .nav-item:not(:last-child) .nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .nav-item:last-child .nav-link {
    padding-left: .5rem;
  }
}
