$white: #fff;
$gray: #e6ecf0;
$gray--dark: #f5f8fa;
$black: #212529;
$black--light: #66757f;
$blue: #007bff;
$blue--dark: #0056b3;
$border-color: #ccc;

$total-stats: linear-gradient(to right,
  rgba(0, 140, 37, 0.4),
  rgba(0, 140, 37, 0.8), rgba(0, 140, 37, 0.8),
  rgba(0, 140, 37, 0.4)
);
$hp: linear-gradient(to top, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.2));
$attack: linear-gradient(to top, rgba(255, 106, 0, 0.8), rgba(255, 106, 0, 0.8), rgba(255, 106, 0, 0.2));
$defense: linear-gradient(to top, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0.2));
$speed: linear-gradient(to top, rgba(127, 0, 255, 0.8), rgba(127, 0, 255, 0.8), rgba(127, 0, 255, 0.2));
