$white: #fff;
$gray: #e6ecf0;
$gray--light: #f5f8fa;
$black: #212529;
$black--light: #66757f;
$blue: #007bff;
$blue--dark: #0056b3;
$border-color: #ccc;
$border-in-gray: #ccc;
$border-in-white: $gray;

$total-stats: linear-gradient(to right,
  rgba(0, 140, 37, 0.4),
  rgba(0, 140, 37, 0.8), rgba(0, 140, 37, 0.8),
  rgba(0, 140, 37, 0.4)
);
$hp: linear-gradient(to top, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.2));
$attack: linear-gradient(to top, rgba(255, 106, 0, 0.8), rgba(255, 106, 0, 0.8), rgba(255, 106, 0, 0.2));
$defense: linear-gradient(to top, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0.2));
$speed: linear-gradient(to top, rgba(127, 0, 255, 0.8), rgba(127, 0, 255, 0.8), rgba(127, 0, 255, 0.2));


























//
//
// Spacing
$space-1: 3px;
$space-2: 6px;
$space-3: 9px;
$space-4: 12px;
$space-5: 18px;
$space-6: 24px;



//
//
// Sizing
$font-size-primary: 14px;
$font-size-large: 16px;
